from authomatic.providers import oauth2, oauth1, openid

open_auth_config = {
    "tw": {
        "class_": oauth1.Twitter,
        "consumer_key": "########################",
        "consumer_secret": "########################",
    },
    "go": {
        "class_": oauth2.Google,
        "consumer_key": "",
        "consumer_secret": "",
        "scope": ["email"],
    },
    "fb": {
        "class_": oauth2.Facebook,
        "consumer_key": "",
        "consumer_secret": "",
        "scope": ["email"],
    },   
    "gh": {
        "class_": oauth2.GitHub,
        "consumer_key": "",
        "consumer_secret": "",
        "scope": ["user"],
        "access_headers": {"User-Agent": "f13x-App"},
    },
}
