#!/usr/bin/python

NAME = '' #testnet, mainnet or restest

# Connect to Bitcoin RPC
# Details about bitcoinrpc from the bitcoin.conf file, generally in ~/.bitcoin/bitcoin.conf
BITCOIN_RPCUSER = 'bitcoinrpc' 
BITCOIN_RPCPASSWORD = ''
BITCOIN_RPCENDPOINT = '' #127.0.0.1
bitcoin_service_url = 'http://' + BITCOIN_RPCUSER + ':' + BITCOIN_RPCPASSWORD + '@' + BITCOIN_RPCENDPOINT 
# Public address of your exchange's account
EXCHANGE_BITCOIN_ADDRESS = ''

# Connect to Dogecoin RPC
# Details about bitcoinrpc from the dogecoin.conf file, generally in ~/.dogecoin/dogecoin.conf
DOGECOIN_RPCUSER = 'dogecoinrpc'
DOGECOIN_RPCPASSWORD = ''
DOGECOIN_RPCENDPOINT = '' #127.0.0.1
dogecoin_service_url = 'http://' + DOGECOIN_RPCUSER + ':' + DOGECOIN_RPCPASSWORD + '@' + DOGECOIN_RPCENDPOINT 
# Public address of your exchange's account
EXCHANGE_DOGECOIN_ADDRESS = ''

# IP Address of the machine that hosts your web server database
SERVER_DB_ADDRESS = '127.0.0.1'
# IP Address of the machine that hosts your admin database
MANAGER_DB_ADDRESS = '127.0.0.1'
