<html>
<body>

<div id="container" style="width:100%;"></div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="http://code.highcharts.com/highcharts-more.js"></script>
<script type="text/javascript" src="http://code.highcharts.com/modules/exporting.js"></script>

<script type='text/javascript'>
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'columnrange',
            inverted: true
        },
        
        title: {
            text: 'Buy Sell Support'
        },
        
        subtitle: {
            text: '{{currency}}'
        },
    
        xAxis: {
            reversed: false,
            title: {
                text: 'Exchange Rate'
            }
        },
        
        yAxis: {
            title: {
                text: 'Cumulative Shares Below the price'
            }
        },
    
        tooltip: {
            valueSuffix: 'shares'
        },
        
        plotOptions: {
            columnrange: {
                groupPadding: 0.5,
                pointPadding: 0,
                dataLabels: {
                    enabled: false,
                    formatter: function () {
                        return this.y + '°C';
                    }
                },
                pointWidth : 2
            }
        },
        
        legend: {
            enabled: false
        },
    
        series: [ {
                    name  : 'Buy',
                    color : 'green',
                    data  : {{data_series['Buy']}} 
                  },
                  {
                    name  : 'Sell',
                    color : 'red',
                    data  : {{data_series['Sell']}}
                  }
                ]
    
    });
});
</script>
</body>
</html>
